<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>index</title>
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-light bg-light p-3">
        <a class="navbar-brand pl-3" href="/index" style="font-size: 2rem;">tyoueennショップ</a>
        <a class="navbar-brand pl-3" href="https://discord.gg/mENHNnnS7C" style="font-size: 1.5rem;">discord</a>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>