{% extends 'base.html' %}

{% block body %}
<h1>購入の仕方</h1>
<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">1.discordをダウンロードする</h2>
        <h4>スマホの場合はappstoreまたはplay store</h4>
        <h4>パソコンの場合は<a href='https://discord.com'>こちら</a>からダウンロードしてください</h4>
    </div>
</div>
<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">2.discordサーバーに入る</h2>
        <a class="btn btn-danger btn-sm" href="https://discord.gg/KUd6fF6kRD" role="button">discordサーバー</a>
    </div>
</div>
<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">3.買う</h2>
        <h4>しゃべってる人のアイコンをクリックまたはタップしてメッセージを送るを押します、そこで買えます</h4>
    </div>
</div>

{% endblock %}