{% extends 'base.html' %}

{% block body %}
<h1>メインページ</h1>
<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">小表妹</h2>
        <p>値段:3000円</p>
        <p>10GB  ツイッターでよく見るやつ</p>
        <a class="btn btn-success btn-sm" href="/sample/kohyoumei" role="button">Sampleサンプル</a>
        <a class="btn btn-danger btn-sm" href="/buy" role="button">購入buy</a>
    </div>
</div>
<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">ふけん兄妹</h2>
        <p>値段:4000円</p>
        <p>60GB ツイッターでよく見るやつ</p>
        <a class="btn btn-success btn-sm" href="/sample/huken" role="button">Sampleサンプル</a>
        <a class="btn btn-danger btn-sm" href="/buy" role="button">購入buy</a>
    </div>
</div>
<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">ヨーロッパ</h2>
        <p>値段:2000円/10G</p>
        <p></p>
        <p>MAX10G</p>
        <p>詳しくはdiscordでチケット作成してください</p>
        <a class="btn btn-success btn-sm" href="/sample/europe" role="button">Sampleサンプル</a>
        <a class="btn btn-danger btn-sm" href="/buy" role="button">購入buy</a>
    </div>
</div>
<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">家庭教師</h2>
        <p>値段:3000円</p>
        <p>25GB</p>
        <a class="btn btn-success btn-sm" href="/sample/katei" role="button">Sampleサンプル</a>
        <a class="btn btn-danger btn-sm" href="/buy" role="button">購入buy</a>
    </div>
</div>

<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">宿題シリーズ</h2>
        <p>値段:2000円-7000円</p>
        <p>MAX70GB 十数名いる ツイッターでよく見るやつ</p>
        <a class="btn btn-success btn-sm" href="/sample/syukudai" role="button">Sampleサンプル</a>
        <a class="btn btn-danger btn-sm" href="/buy" role="button">購入buy</a>
    </div>
</div>

<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">mega link</h2>
        <p>値段:１万円５千円</p>
        <p>280GB</p>
        <p>マジでいろんなのある</p>
        <p>サンプルはDMまで</p>
        <a class="btn btn-danger btn-sm" href="/buy" role="button">購入buy</a>
    </div>
</div>


<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">個数売り</h2>
        <p>値段:一本100円 五本から</p>
        <p>商品指定はプラス500円 シチュ指定はできるだけ受け付けますが、お答えできない場合もあります</p>
        <a class="btn btn-danger btn-sm" href="/buy" role="button">購入buy</a>
    </div>
</div>

<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">認証</h2>
        <p>discordのアナウンスの所のギガファイルをダウンロードして開いてください（ｐｃ）限定</p>
        <p>開けなかったらＤＭしてください</p>
        <p>認証した人がDMでIDを教えてくれたら無料動画一つ上げます</p>
    </div>
</div>




{% endblock %}